<%= form_for(@user, url: session_path) do |f| %>
    Name: <%= f.collection_select(:name, @users, :name, :name) %><br>
    Password: <%= f.password_field :password %><br>
    

    <%= f.submit "Sign In" %> or 
    <%= link_to '<button type="button">Sign Up</button>'.html_safe, new_user_path%>
<% end %>