<%= link_to 'New Attraction', new_attraction_path %>

<table class='table'>
    <tbody>
        <tr>
            <td><strong>Name</strong></td>
            <td><strong>Tickets</strong></td>
            <td><strong>Details</strong></td>    
        </tr>
        <% @attractions.each do |attraction| %>
            <tr>
                <td><%= attraction.name %></td>
                <td><%= attraction.tickets %></td>
                <td>
                    <% unless current_user.admin %> 
                        <%= link_to "Go on #{attraction.name}", attraction_path(attraction) %> 
                    <% else %>
                        <%= link_to "Show #{attraction.name}", attraction_path(attraction) %>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>  
</table>

