<div class="container" role="main">
      <p id="notice"></p>
<div class="center">
  <div class="info">
    <p><strong>Name:</strong><%= @attraction.name %></p>
    <p><strong>Total Number of Users:</strong> FIX ME</p>
    <p><strong>Ticket Requirement:</strong><%= @attraction.tickets %></p>
    <p><strong>Height Requirement:</strong><%= @attraction.min_height %></p>
    <p><strong>Nausea Rating:</strong><%= @attraction.nausea_rating %></p>
    <p><strong>Happiness Rating:</strong><%= @attraction.happiness_rating %></p>
  </div>
</div>

<% if current_user.admin %>
  <%= link_to "Edit Attraction", edit_attraction_path(@attraction)%>
<% else %>
      <%= form_for(@ride, url: user_path(current_user), method: :get) do |f| %>
        <%= f.hidden_field :user_id %><br>
        <%= f.hidden_field :attraction_id %><br>
        <%= f.submit "Go on this ride", class:"btn btn-light" %>
      <% end %>
  <%# <%= link_to '<button type="button">Go on this ride</button>'.html_safe, user_path(current_user)%> 
<% end %>
