<h1><%= @attraction.name %> Page</h1>

<h3>Attraction States</h3>

<ul>
    <li>Cost: <%= @attraction.tickets %></li>
    <li>Nausea Rating: <%= @attraction.nausea_rating %></li>
    <li>Happiness Rating: <%= @attraction.happiness_rating %></li>
    <li>Minimmum Height: <%= @attraction.min_height %></li>
</ul>

<h3>User Stats</h3>

<%= render partial: 'users/user', locals: {user: current_user} %>



<%= form_tag(attraction_path(@attraction)) do %>
    <%= hidden_field_tag 'attraction_id', "#{@attraction.id}" %>
    <%= submit_tag "Go on this ride" %>
<% end %>